repos:
  - repo: local
    hooks:
      - id: vulture
        name: vulture
        entry: .venv/bin/vulture
        language: system
        types: [python]
        pass_filenames: false
        args: [--min-confidence, "80", "src/", "vulture_whitelist.py"]
